

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="Parker Layden-Tapp"]

{
    color: rgb(255, 255, 255);
    font-style:bold;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
}
main {
    min-height: calc(100vh - 1.5em);
}
footer {
    height: 1.75em;
    background-color: whitesmoke;
    font-weight: bold;
    border-top: double;
    border-color: black
    
}
header {
    background-color:white;
    color: white;
}
body {
    font-family: "proxima-nova";
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    color: #575757;
}
#page {
    padding: 50px 0;
    opacity: 1;
    position: relative;
}
.Contact-Form{
    background-color: #2c3e50;
    color: #2c3e50;
    border: orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    font-family: 'helvetica', sans-serif; 
    border-bottom: solid;
    border-width: thin;
    width: 75;
    font-size: xx-large;
    text-align: center;
    
}
.navbar-inverse{
    background-color: whitesmoke; 
    color: black;
    border-bottom:double;
}
.navbar-inverse .navbar-brand {
    color:black;
    font-weight: bold;
    font-size: 1.75em;
}
.navbar-toggle.collapsed {
    background-color: #000 !important;
}
.boxed{
    border: 1px black;
    background-color: #EBEDEF;
    max-width: 40em;
    padding: 7px;
    font-weight:bold;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

    
  }

h4, h5, h6 {
    font-family: 'helvetica', sans-serif; 
    font-weight: 760;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
display:        inline;
color:          black;                        
font-family:    Garamond;
font-size:      1.25em;
font-weight: bold;
padding:        5px 20px;
}


.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          black;
text-shadow:    none;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          black;                      
text-shadow:    none;
}

.navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a:first-letter, 
.navbar .nav > li.current-menu-ancestor > a:first-letter {
color:          black;
text-shadow:    none;
}


.dropdown-menu > li > a {
color:          black;
background:     black;
border-bottom:  2px solid green;
}

.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a, 
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
color:          blue;
}
img{
    border: 3px solid black;
}
